
<div style="overflow-x:auto ;" class="container-fluid mt-5" *ngIf="state == 'success' && bookings.length>0 ">
    <h1 class="text-center mb-5">Hey,<span class="text-danger me-2"><i>{{(authStore.currentUser$ | async)?.name}}</i></span> Heres Your Bookings For Your Vehicles.</h1>
    <div class="d-flex text-danger border-bottom border-danger justify-content-between px-2 mb-5">
        <h3 class="h3 mx-3"> Total Revenue is  <br><i class="fa fa-inr ms-2 "></i> {{bookings|revenuepipe}}</h3>
        <h3 class="h3 mx-3 text-end"> Total bookings are <br> {{bookings.length}}</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="text-center text-danger h5">
                <th scope="col" sortable="date"><i class="fa fa-calendar me-2"></i>Booking Date</th>
                <th scope="col" sortable="model"><i class="fa fa-car me-2"></i>Vehicle Model</th>
                <th scope="col" sortable="location"><i class="fa fa-location-dot me-2"></i>Location</th>
                <th scope="col" sortable="price" ><i class="fa fa-dollar me-2"></i>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of currentPage" class="text-center ">
                <td class="fw-bold" scope="row">{{ booking["bookingdate"]  | date }}</td>
                <td scope="row" class="fw-bold"><a class="link-danger fw-bold" ngbTooltip="Take To Vehicle Booking" routerLink="/seller/updateVehicle" [queryParams]="{id:booking['vehicleid']}">{{ booking["vehiclename"] }}</a></td>
                <td scope="row" class="fw-bold">{{ booking["vehiclelocation"] }}</td>
                <td scope="row" class="fw-bold"><i class="fa fa-inr"></i>{{ booking["vehicleprice"] }}/Per Day</td>


            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end  p-2">
        <ngb-pagination
        class="me-5 text-danger"
            [collectionSize]="totalBookings"
            [(page)]="curPage"
            [pageSize]="5"
            (pageChange)="changePage()"
        >
        </ngb-pagination>
    

    </div>
</div>

<div  class="d-flex justify-content-center mt-5 align-items-center" style="height: 70vh;" *ngIf="state == 'success' && bookings.length==0 ">
    <h1 class="text-center mb-5">Hey,<span class="text-danger me-2"><i>{{(authStore.currentUser$ | async)?.name}}</i></span> Your Vehicles Dont Have Any Bookings. :(</h1>
</div>

<ng-container *ngIf="state=='failure'" class="container-fluid mt-5 p-5">
    <div style="height:80vh" class=" d-flex flex-column justify-content-center my-auto">
      <i class='text-danger mt-5 col-12 fa-solid fa-5x  fa-car-crash'></i>
      <h1 class="h1 text-danger text-center mt-">Seems Like An Error :(</h1>
  </div>
  </ng-container>

  <div *ngIf="state=='loading'" class="container-fluid mt-5 p-5">
    <div class="row  justify-content-center">
    <div style="width: 5rem; height: 5rem;" class="text-danger m-auto spinner-border m-5 h1" role="status">
      <span class="h1  sr-only">Loading...</span>
    </div>
    <h1 class="text-center mt-5 text-danger">Fetching Data</h1>
  </div>
  </div>