<div class="container-fluid py-5 border-3 border-end border-danger">
    <h2 class="h2 text-center">Filter Your Search</h2>
    <div class="row">
        <h5 class="h5 col-8 text-center mt-5">Location:</h5>
        <app-autcomplete-location [locationControl]="locationControl"></app-autcomplete-location>
    </div>
    <div class="row">
        <h5 class="h5 col-8 text-center mt-5">Model:</h5>
        <app-autocomplete-model [modelControl]="modelControl"></app-autocomplete-model>
    </div>
    
        
   
    <div  class="row justify-content-center mt-3">
        <h5 class="text-center">Sort By Price</h5>
        <div class="col-8">
            <select [formControl]="priceSort" class="form-select " aria-label="Default select example">
                
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>

            </select>
            </div>
        </div>
</div>