<div data-aos="fade-up" id="cardDiv"   class="card container-fluid mb-5 mx-auto mx-md-0 col-md-12 col-8  ms-md-auto  border-bottom border-danger border-2 p-2   " >
    <div style="height: 100%;" class="row align-items-stretch ">
      <div class="col-md-4 text-danger" >
        <div class="img" style="height: 200px;" class="container-fluid placeholder"></div>
      </div>
      <div class="col-md-8">
        <div class="card-body d-flex flex-column placeholder-glow">
          <h2 class="card-title h2 col-md-7 col-10 text-danger placeholder"></h2>
          <h3 class="card-text mt-2 h3 col-md-6 col-9 text-danger placeholder"></h3>
          <p class="card-text text-danger mt-3 mb-0 col-md-3 col-6 placeholder"></p>
          <p class="card-text text-danger mt-3 mb-0 col-md-3 col-6 placeholder"></p>
          
          <h2 class="h2 mt-3 text-danger placeholder col-md-3 col-6"></h2>
        </div>
      </div>
    </div>
  </div>