<app-basicmodal #modalcomponent></app-basicmodal>
<ng-template #modal>
    <div class="d-flex p-3 flex-column">
      <div
        class="h2 text-danger text-center border-bottom border-3 border-danger">
        Crop Image
      </div>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        format="png"
        (imageCropped)="imageCropped($event)"

      ></image-cropper>
      <div class="d-flex justify-content-evenly">
        <button (click)="saveImage()" class="btn btn-outline-success">Save</button>
        <button (click)="exitModal()" class="btn btn-outline-danger">Cancel</button>
      </div>
    </div>
  </ng-template>
  
  <form (ngSubmit)="submitForm()" [formGroup]="addVehicleForm" class="p-3 mt-3 container-fluid">
    <div class="row"><h1 class="h1 text-danger text-center">Add Vehicle</h1></div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8 col-10">
        <img #vehicleimage class="img img-fluid w-100 shadow" src="/assets/default4x3.png" alt="" />
        <input type="file" name="img" class="mt-3 shadow  form-control" placeholder="Add Image"(change)="fileChangeEvent($event)"/>
      </div>
      
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 col-10 mt-5">
        <app-autocomplete-model [modelControl]="modelControl"></app-autocomplete-model>
      </div>
      <div class="col-md-5 col-10 mt-5">
        <app-autcomplete-location [locationControl]="locationContol"></app-autcomplete-location>
      </div>
      <div class="col-10 col-md-5 mt-5">
        <div class="form-floating flex-fill mb-0">
          <input [formControl]="priceControl"
            type="number"
            id="vehicleprice"
            placeholder="Vehicle Price"
            class="form-control shadow"
          />
          <label class="form-label" for="email">Vehicle Price</label>
        </div>
      </div>

    </div>
    <div class="row  mt-4  justify-content-center mt-2">
     
        <input type="submit" class="btn col-sm-4  col-8 mb-2 btn-outline-danger" name="Add Vehicle">
      
    </div>
  </form>
  