<nav  *ngIf="(curUser$|async) as user"  [@showAndHide]="(mynavService.navBarVisible$| async )?'show':'hide'" style="transform: translateY(-100px);"  class="navbar navbar-expand-lg navbar-dark bg-danger shadow-lg">
    <div class="container-fluid">
      <!-- Place website nav image -->
      <img [src]="navImage" width="40" height="40" class="mx-2 d-inline-block align-top" alt="">

      <!--Display App Image-->
      <a class="navbar-brand h1 m-auto" href="#">{{appname | uppercase}}</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        
        <ul class=" navbar-nav mb-2 mb-lg-0 ms-auto">
          <ng-template #defaultUser>
            <li class="nav-item mynav me-2">
              <a class="nav-link mynav " aria-current="page" href="/api/google/redirect" >Sign In With Google <i class="ms-2 bi bi-google"></i></a>
            </li>
            <li class="nav-item mynav me-2">
                <a class="nav-link mynav " aria-current="page" routerLink="/signin" >Sign In</a>
              </li>
              <li class="nav-item mynav me-2">
                <a class="nav-link mynav" routerLink="/signup" >Sign Up</a>
              </li>
        </ng-template>
        
        <ng-container *ngIf="(user.role && user.role!='default'); else defaultUser">
           
                <li *ngFor=" let nav of navs[user.role]" class="nav-item"><a class="nav-link"  [routerLink]="nav.path" > {{nav.text}}</a></li>
          
            <ng-container>
                <li  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{user.name}}
                    </a>
        
                    <ul    class="dropdown-menu"  id="dropdownitems"  data-bs-display="static" aria-labelledby="navbarDropdown">
                        <li *ngFor=" let nav of navs[user.role]" ><a class="dropdown-item "  [routerLink]="nav.path" > {{nav.text}}</a></li>
                        
                      <li><a (click)="signOut()" class="dropdown-item" >Sign Out</a></li>
                    </ul>
        
                  </li>
            </ng-container>
            
        </ng-container>
      
          
         
      

        </ul>

      </div>
    </div>
  </nav>