a{
    font-weight: bold;
}
.mynav{
    border: none;
}

.dropdown-item:hover
{
    background-color: #dc3545;
    color: white;
}

*{
  z-index: 10;
}

@media (min-width: 992px) {
    #dropdownitems
    {
        transform: translateX(-100px);
    }
    .mynav:hover
    { color: 	#dc3545    !important;
  
      background-color: white;
    
    }
  
    .mynav
    { color: white!important;
      transition: .2s;
      background-color: 	#dc3545;
      border: white thin solid;
    }

  }

