<app-basicmodal #modalcomponent></app-basicmodal>
<div *ngIf="state=='success'" class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-10 ">
            <div class="container-fluid">
                <div class="row">
                    <img  class="img img-fluid" [defaultImage]="defaultImg" [lazyLoad]="vehicle.pic" alt="">
                </div>
                <div class="row">
                    <h1 class="text-center h1 text-danger">{{vehicle.fullmodel}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="container-fluid mt-3">
                <div class="row text-start ">
                    <h1 class="h1 text-danger">Vehicle info</h1>
                    <h4 class="h4 mt-2 text-black">Price: {{vehicle.vehicleprice}} / per day</h4>
                    <h4 class="h4 mt-2 text-black">Location: {{vehicle.location}}</h4>
                    <h4 class="h4 mt-2 text-black">Seller Email: {{vehicle.selleremail}}</h4>
                </div>
                <div class="row mt-5">
                    <h3 class="text-center h3">Pick Your Booking Date</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <ngb-datepicker (dateSelect)="setSelectedDate($event)" outsideDays="hidden" [minDate]="{'year':ngbCalendar.getToday().year,'month':ngbCalendar.getToday().month,'day':ngbCalendar.getToday().day}"  [markDisabled]="getDisabled()"class="shadow" #d ></ngb-datepicker>

                </div>
                <div *ngIf="selectedDate!=null" class="row justify-content-center mt-3">
                         <h3 class="h3 text-center">{{selectedDate.day}}/{{selectedDate.month}}/{{selectedDate.year}}</h3>
                         <button (click)="submitForm()" class=" btn col-5 mb-3 btn-outline-danger"> Book Now</button>    

                    
                </div>
                <div *ngIf="selectedDate==null" class="row justify-content-center mt-3">
                    <h3 class="h3 text-center">Please Select A Day</h3>
                    <button class=" btn col-5 mb-3 btn-outline-danger"> Select A Date</button>    

               
           </div>
               
            </div>

        </div>
    </div>

</div>

<div *ngIf="state=='loading'" class="container-fluid mt-5 p-5">
    <div class="row  justify-content-center">
    <div style="width: 5rem; height: 5rem;" class="text-danger m-auto spinner-border m-5 h1" role="status">
      <span class="h1  sr-only">Loading...</span>
    </div>
    <h1 class="text-center mt-5 text-danger">Fetching Data</h1>
  </div>
  </div>

  <ng-container *ngIf="state=='failure'" class="container-fluid mt-5 p-5">
    <div style="height:80vh" class=" d-flex flex-column justify-content-center my-auto">
      <i class='text-danger mt-5 col-12 fa-solid fa-5x  fa-car-crash'></i>
      <h1 class="h1 text-danger text-center mt-">Seems Like An Error :(</h1>
  </div>
  </ng-container>