<div class="container-fluid">

        
            <div class="row mt-5">
                <div class="col-12 col-md-4">
                    <app-searchbar></app-searchbar>
                </div>
                <div *ngIf="state=='success'" class="col-12 col-md-8">
                    <div *ngFor="let car of arr">
                        <app-vehiclecardsloading ></app-vehiclecardsloading>
                    </div>
                </div>
                <div *ngIf="state=='loading'" class="col-12 col-md-8">
                    <div *ngFor="let car of arr">
                        <app-vehiclecards [vehicle]="car"></app-vehiclecards>
                    </div>
                </div>

            </div>
        


</div>