<section>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" >
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class=" col-lg-8 col-md-10">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                  
                  <form (ngSubmit)="submitForm()" [formGroup]="signUpForm" class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input   formControlName="username"  name="username"  type="text" id="username" placeholder="Your Name" class="form-control" />
                        <label class="form-label" for="username">Your Name</label>
                      </div>
                        
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input  formControlName="useremail"  type="text" id="useremail"  placeholder="Your Email" class="form-control" />
                        <label class="form-label" for="useremail">Your Email</label>
                      </div>
                    </div>
                    
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i  class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input formControlName="userpassword" type="userpassword" name="userpassword" type="password" id="userpassword" placeholder="Your Password" class="form-control" />
                        <label class="form-label" for="userpassword">Your Password</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input  formControlName="userretypepassword" type="userretypepassword" id="userretypepassword"  type="password" placeholder="Retype Password" class="form-control" />
                        <label class="form-label" for="userretypepassword">Retype Password</label>
                      </div>
                    </div>
                    <h4 class="text-center">Select Your Role</h4>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-masks-theater fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        
                        <select formControlName="userrole"  class="form-control form-select-lg mb-3" name="userrole" aria-label=".form-select-lg example">
                          <option value="customer">Customer</option>
                          <option value="seller">Seller</option>
                        </select>
                      </div>
                    </div>
                    



                    <p class="text-center text-danger"> Already have an account? <a routerLink="/signin"> Sign In </a> </p>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <input type="submit" class="btn btn-outline-danger btn-lg" name="Sign Up">
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>