<div class="container-fluid py-5 border-3 border-end border-danger">
    <h2 class="h2 text-center">Filter Your Search</h2>
    <div class="row">
        <h5 class="h5 col-8 text-center mt-5">Location:</h5>
        <div class="col-10">
            <input type="text" class="form-control " placeholder="Enter City Or State">
        </div>
    </div>
    <div class="row">
        <h5 class="h5 col-8 text-center mt-5">Model:</h5>
        <div class="col-10">
            <input type="text" class="form-control " placeholder="Enter Model or Brand">
        </div>
    </div>
    <div class="row justify-content-center mt-4 justify-content-md-end">
        <button class="btn btn-outline-danger col-5 me-2">Search</button>
    </div>
</div>