<h1 data-aos="fade-up" class="h1 p-5 mt-5 fw-bolder text-danger text-center">
    Renting,Leasing <br> <span class="text-black"> A Car Has Never Been Easier</span>

</h1>


<div class="container-fluid" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
    <div class="row p-5 justify-content-center">
        <div class="card text-white bg-danger mb-3 col-md-4 col-12 me-4 " style="max-width: 18rem;">
            <div class="card-header text-center h2">Rent A Car</div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                    <i class="fa fa-large fa-key " style="font-size: 5rem;"  aria-hidden="true"></i>
                </div>
                </div>
              <h5 class="card-title h5 mt-2">Book a car, choose from a wide variety available in your town</h5>
              
            </div>
          </div>
          
            <div class="card text-white bg-danger mb-3 col-md-4 col-12 me-4" style="max-width: 18rem;">
                <div class="card-header text-center h2">Lease Your Car</div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                        <i class="fa fa-large fa-inr" style="font-size: 5rem;"  aria-hidden="true"></i>
                    </div>
                    </div>
                  <h5 class="card-title h5 mt-2">Book a car, choose from a wide variety available in your town</h5>
                  
                </div>
              </div>
    
</div>
</div>

